
.image-container { 
	position: relative; 
	width: 200px; 
	height: 200px; 
	overflow: hidden;
	float: left;
    margin: 5px;
}

.image-container img { 
	position: absolute; 
}

.image-title {
	width: auto;
}

.carousel{
	width: 200px;
	height: 180px;
	float: right;
	text-align: center;
	overflow: hidden;
}

.carousel-image {
	margin: 0 auto;
	z-index: -1;
}

.carousel-image:hover {
	cursor:pointer;cursor:hand;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

.required{
	color: red;
}

.back-button{
	float: right;
}

.ingredients-title{
	margin-bottom: 15px;
}

#star {
	margin: 10px;
}

.thumbnail {
	width: 150px;
	height: 220px;
	float: left;
	overflow: scroll;
}

.fa-window-close-o {
	margin-right: 5px;
	float: right;
	color: orange;
	width: 8px;
	height: 8px;
	z-index: 2;
}

.fa-window-close-o:hover {
	cursor:pointer;cursor:hand;
}