
.image-container { 
	position: relative; 
	width: 200px; 
	height: 200px; 
	overflow: hidden;
	float: left;
    margin: 5px;
}

.image-container img { 
	position: absolute; 
}

.image-title {
	width: auto;
}

.carousel{
	width: 200px;
	height: 180px;
	float: right;
	text-align: center;
	overflow: hidden;
}

.carousel-image {
	margin: 0 auto;
	z-index: -1;
}

.carousel-image:hover {
	cursor:pointer;cursor:hand;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

.required{
	color: red;
}

.back-button{
	float: right;
}


.ingredients-title{
	margin-bottom: 15px;
}

#star {
	margin: 10px;
	cursor:pointer;cursor:hand;
}

.well {
	background-color: #93aed2;
	padding: 10px;
	min-height: 200px;
}

.paginationjs-page > *, .paginationjs-ellipsis  > *, .paginationjs-next  > *, .paginationjs-prev > *{
	color: white;
	float: left;
	margin-left: 5px;
}

.recipe-header{
	margin-left: 5px;
}

#pagination-container{
		position: relative;
	    bottom: 15px;
	    left: 975px;
}

@media screen and (min-width: 1300px){
	#pagination-container	{
		position: relative;
	    bottom: 15px;
	    left: 950px;
	}
}

@media screen and (max-width: 1200px){
	#pagination-container	{
		position: relative;
	    bottom: 15px;
	    left: 750px;
	}
}

@media screen and (max-width: 990px){
	#pagination-container	{
		position: relative;
	    bottom: 15px;
	    left: 540px;
	}
	.well {
		min-height: 250px;
	}
}

@media screen and (max-width: 700px){
	#pagination-container	{
		position: relative;
	    bottom: 15px;
	    left: 250px;
	}
	.well {
		min-height: 250px;
	}
}

.thumbnail {
	width: 150px;
	height: 220px;
	float: left;
	overflow: scroll;
	margin: 4px;
}

.fa-window-close-o {
	position: relative;
	top: -2px;
	left: -8px;
	float: right;
	color: orange;
	width: 8px;
	height: 8px;
	z-index: 2;
}

.fa-window-close-o:hover {
	cursor:pointer;cursor:hand;
}

.fa-circle-o {
	margin: 5px;
	font-size: 10px;
}
