body {
    background-image: url("https://i.pinimg.com/originals/19/f3/78/19f37846e78b0767b8f337d57c8c773a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

.panel {
  opacity: 0.92;
}